<html>
    <head>
        {{ content_for_header}}
        {{"style.css" | asset-url | stylesheet_tag}}
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout}}
        {{ "scripts.js" | asset_url | script_tag}}
    </body>
</html>